<?xml version="1.0"?>
<launch>

  <node name="bag_to_csv" pkg="ros1_msg_to_csv" type="bag_to_csv" output="screen" required="true">
    <rosparam>
      bags: 
        - /home/ubuntu/Documents/middle_towing_v.bag
      topics: 
        - /tf
        - /tf_static
      tf: 
        parent_frame: world
        child_frames: [hoge]
    </rosparam>
  </node>

</launch>